body {
  background-color: purple;
}
input {
  width: 27%;
}
select {
  width: 45%;
}
button {
  width: 45%;
}
.container {
  margin-top: 30px;
  background-color: white;
  border-radius: 5px;
}

.form-group {
  padding: 15px;
}
#result {
  background-color: red;
  border-radius: 5px;
  padding: 15px;
  width: 25%;
  height: 150px;
  float: right;
  color: white;
  position: fixed;
  top: 60px;
  right: 100px;
}
#solar-age {
  text-shadow: 2px 2px grey;
  color: black; 
}

